{% extends "base.html" %}
{% load static %}

{% block title %}
    Мои заказы {% if order %}(Заказ {{ order.id }}) {% endif %}- Healthy Habits
{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-minor" href="/">Главная</a></li>
            {% if order %}
                <li class="breadcrumb-item active"><a class="link-minor" href="orders">Мои заказы</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="text-minor">Заказ {{ order.id }}</a></li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page"><a class="text-minor">Мои заказы</a></li>
            {% endif %}
        </ol>
    </nav>
    {% include common %}
{% endblock content %}
