{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Сброс пароля - Healthy Habits{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock styles %}

{% block content_name %}Сброс пароля{% endblock content_name %}

{% block content %}
    <div class="text-center">
        <a>Письмо с инструкциями по восстановлению пароля отправлено.</a><hr>
        <a>
            Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались,
            и проверьте папку со спамом.
        </a>
    </div>
{% endblock content %}
