{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Сброс пароля - Healthy Habits{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock styles %}

{% block content_name %}Сброс пароля{% endblock content_name %}

{% block content %}
    <div class="text-center">
        <p>Ваш новый пароль успешно сохранен!</p>
        <div class="mt-2">
            <a class="link-main" href="{% url 'login' %}">Войти</a>
        </div>
    </div>
{% endblock content %}
