{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Сброс пароля - Healthy Habits{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock styles %}

{% block content_name %}Сброс пароля{% endblock content_name %}

{% block content %}
    <form class="row g-2" method="post" action="">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-2">
                <div class="form-floating">
                    {{ field }}
                    <label for="floatingInput">{{ field.label }}</label>
                </div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="error text-center">
                            {% if field == form.new_password2 and error != 'Пароли не совпадают.' %}
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-dark">Отправить</button>
    </form>
{% endblock content %}
