{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Сброс пароля - Healthy Habits{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock styles %}

{% block content_name %}Сброс пароля{% endblock content_name %}

{% block content %}
    <form class="row g-2" method="post" action="">
        {% csrf_token %}
        <!-- Первое поле (Email) -->
        <div class="mb-2">
            <div class="form-floating">
                {{ form.email }}
                <label for="floatingInput">{{ form.email.label }}</label>
            </div>
            {% if form.email.errors %}
                <div class="error text-center">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-dark">Отправить</button>
            <a class="btn btn-outline-danger" href="{% url 'login' %}" role="button">Отменить</a>
        </div>
    </form>
{% endblock content %}
