{% extends "base.html" %}
{% load static %}

{% block title %}
    Управление пользователями - Healthy Habits
{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock styles %}

{% block content %}
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        {% for page in admin_pages %}
            <a class="btn {% if request.path == page.link %}btn-dark{% else %}btn-outline-dark{% endif %}"
               href="{{ page.link }}">{{ page.title }}</a>
        {% endfor %}
    </div>
{% endblock content %}
